@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");

body,
html {
  overflow-x: hidden;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* width */
::-webkit-scrollbar,
.menubar-scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track,
.menubar-scrollbar::-webkit-scrollbar-track {
  @apply bg-[#0a0a0a];
}

/* Handle */
::-webkit-scrollbar-thumb,
.menubar-scrollbar::-webkit-scrollbar-thumbr {
  @apply bg-[#141414];
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover,
.menubar-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-[#1e1e1e];
}
